.App {

}
.App .card-header{
  padding: 1.09375rem 1.575rem
}
.App .card-header .btn-group{
  margin: 0 auto;
  text-align: center;
}
.App .card-header .btn-group-sm > .btn, .btn-sm{
  padding: .35rem .7rem;
}



.canvas-container{
  border: 1px solid #000;
  margin: 0 auto;
}
.sample-canvas {
 /* height: 800px;*/
}
